/* Coral Theme: modifies the default theme to use coral in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-coral1: #e74c3c;
  --tf-coral2: #e67e22;
  --tf-coral3: #f39c12;
  --tf-coral4: #f5b7b1;
  --bs-font-sans-serif: "Open Sans", sans-serif;
  --bs-link-color: var(--tf-coral1);
  --tf-pill-bg: var(--tf-coral3);
  --tf-icon-fill: var(--tf-coral1);
  --tf-icon-hover: var(--tf-coral3);
  --tf-page-bg-color: var(--bs-white);
  --tf-footer-bg-color: var(--tf-coral4);
  --tf-projects-bg-color: var(--tf-coral4);
}

h1,h2,h3,h4,h5 {
  color: var(--tf-coral1);
  font-family: Rubik;
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-coral1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

.rounded-circle {
  border-color: var(--tf-coral1);
  border-style: solid;
  border-width: 1px;
}
